IceStorm.TopicManager.Proxy=IceStorm/TopicManager:tcp -p 10000

Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 4061

FileManagerAdapter.Proxy=FileManager1 -t -e 1.1 @ FileManagerAdapter
FileManagerAdapter1.Proxy=FileManager2 -t -e 1.1 @ FileManagerAdapter1

FileUpdatesAdapter.Endpoints=tcp -p 10001
FileUpdatesAdapter.AdapterId=FileUpdatesAdapter

FileUpdatesAdapter1.Endpoints=tcp -p 10004
FileUpdatesAdapter1.AdapterId=FileUpdatesAdapter1

FileUpdatesAdapter2.Endpoints=tcp -p 10015
FileUpdatesAdapter2.AdapterId=FileUpdatesAdapter2

FrontendUpdatesAdapter.Endpoints=tcp -p 10002
FrontendUpdatesAdapter.AdapterId=FrontendUpdatesAdapter

FrontendUpdatesAdapter1.Endpoints=tcp -p 10003
FrontendUpdatesAdapter1.AdapterId=FrontendUpdatesAdapter1

FrontendUpdatesAdapter2.Endpoints=tcp -p 10008
FrontendUpdatesAdapter2.AdapterId=FrontendUpdatesAdapter2

FrontendAdapter.Endpoints=tcp -p 4080
FrontendAdapter.AdapterId=FrontendAdapter

FrontendAdapter1.Endpoints=tcp -p 4000
FrontendAdapter1.AdapterId=FrontendAdapter1

FrontendAdapter2.Endpoints=tcp -p 4010
FrontendAdapter2.AdapterId=FrontendAdapter2

Ice.IPv6=0